@{Layout =
            "~/Views/Shared/Layout2.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div>
        <br />
        <br />
        <big><font color="white">@ViewBag.Message</stylefont></big>
    </div>
</body>
</html>
