
@{
    Layout =
        "~/Views/Shared/Layout2.cshtml";
    ViewBag.Title = "sclaim";
}
<br/>
<h3>@ViewBag.ct</h3>
<br />
<h3>@ViewBag.c</h3>
<br />
<h3>@ViewBag.nasv</h3>











